                                         @media screen and (max-width:1200px) {

.about-me__content .photo img {max-width: 432px;}

.work-experience__content .block-right .text, .education__content .block-right .text,
.work-experience__content .block-left .text, .education__content .block-left  .text
 {
    padding: 20px 0px 20px 50px;
}

.work-experience__content .block-right .text p, .education__content .block-right .text p,
.work-experience__content .block-left .text p, .education__content .block-left  .text p
{
	font-size: 15px;
	line-height: 26px;
}

.my-skills__content .item{
   max-width: 250px;
}

.message__contacts {
    margin-right: 0px;
}

.works__examples {
    justify-content: space-around;
}

                                           @media screen and (max-width:992px) {

.work-experience__content, .education__content {display: none;}
.work-experience-small,
.education-small        {display: flex;
                        flex-wrap: wrap;
                        justify-content: space-around;}

.message__contacts li img {display: none;}

.textarea textarea {margin-right: 20px;}

.message h3 {font-size: 18px;}

.education {
    padding-bottom: 0px;
}
  	
}
                                           @media screen and (max-width:859px){
  
.works__examples {justify-content: center;}


  }



                                            @media screen and (max-width:768px) {

.message__content {
    justify-content: center;
}

.my-skills__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.my-skills__content .item {
    max-width: 250px;
    margin-left: 30px;
    margin-top: 25px;
}

.message__contacts {display: none;}

.about-me__content {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about-me__content .text ul {margin-bottom: 30px;}
  	
.message__form .title {text-align: center;}

.form {flex-wrap: wrap;
       justify-content: center;}

.form .button {margin-left: 162px;}


                                             @media screen and (max-width:576px) {


.header__title {
    margin-top: 200px;
    padding-bottom: 194px;
    width: 100%; }

.header__title h1 {font-size: 35px;
                   width: 229px;
                   margin:0 auto;}
 
.header__button a {font-size: 16px;
                   padding: 15px 20px;}

.sample img:hover {transform: scale(1);}

.my-skills__content .item {
    max-width: 250px;
    margin-left: 0px;}

.form input,.form textarea {margin-right: 0px;}
  	
}


                                           @media screen and (max-width:355px) {

.header__title {width: 100%;}


  }