* {margin: 0;
   padding: 0;
   font-family: 'Inter', sans-serif;}

body {background: url(bg.png) no-repeat;
      }

.container {max-width: 1136px;
            margin: 0 auto;}

.header__logo {width: 200px;
               height: 64px;
               margin-top: 8px;
               margin-bottom: 23px;}

.content__advantages_head h1 {font-style: normal;
								font-weight: 900;
								font-size: 56px;
								line-height: 68px;
								text-transform: uppercase;
								color: #118976;
								text-shadow: 2px 2px 0px #FFFFFF;
							    margin-bottom: 62px;}

.content__advantages_body p {margin-bottom: 49px;
							font-style: normal;
							font-weight: bold;
							font-size: 20px;
							line-height: 28px;
							display: flex;
							align-items: center;
							color: #333333;}

.content__advantages_body p img {margin-right: 25px;}

.content__advantages_body {display: flex;}

.content__advantages_body .image {margin-left: 115px;
								  margin-top: -125px;}

.content {display: flex;
          justify-content: space-between;}

.content__form {width: 368px;
                height: 553px;
                text-align: center;
                background: #FFFFFF;
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				border-radius: 2px;
			    padding-top: 24px;}

.content__form h2 {font-style: normal;
					font-weight: bold;
					font-size: 28px;
					line-height: 32px;
					display: flex;
					align-items: center;
					text-align: center;
					letter-spacing: -0.01em;
					color: #333333;
				    margin: 0px 32px 12px 32px;}

.content__form h3 {
					font-style: normal;
					font-weight: bold;
					font-size: 22px;
					line-height: 110%;
					text-align: center;
					letter-spacing: -0.01em;
					color: #FF2C2C;
				    margin-bottom: 4px;}

.content__form p:nth-of-type(1) {font-style: normal;
								font-weight: 800;
								font-size: 38px;
								line-height: 42px;
								text-align: center;
								color: #FF2C2C;
							    margin-bottom: 88px;}

.content__form p:nth-of-type(2) {font-style: normal;
								font-weight: normal;
								font-size: 12px;
								line-height: 20px;
								color: #828282;
							    margin-top: 16px;}

#city {background: url(st.png) 90% / 5% no-repeat;
	   border-radius: 2px;
	   border: 1px solid #089C84;
	   padding-left: 19px;
	   width: 254px;
	   height: 42px;
	   -webkit-appearance: none;
       -moz-appearance: none;
       appearance: none;}


#city option {font-size: 14px;
              width: 165px;
              height: 11px;}

.content__form input {margin-top: 12px;
                      padding-left: 19px;
                      width: 254px;
	   				  height: 42px;
                      border: 1px solid #089C84;
                      box-sizing: border-box;
					  border-radius: 2px;}

#sub {background: #FF272B;
	  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.25);
      border-radius: 50px;
      border: none;
      font-weight: bold;
	  font-size: 18px;
	  line-height: 100%;
	  text-align: center;
	  text-transform: uppercase;
	  color: #FFFFFF;
	  width: 254px;
	  height: 56px;}
  
