*{padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;}

  .header__logo img {width: 10%;
                     padding-top: 20px;
                     padding-bottom: 25px;
                     opacity: 0.8;}

  .header__title h1 {font-size: 45px;
                     color:#a0a0a0;
                     letter-spacing: 13px;
                     padding-bottom: 20px; }

                                                                 /* nav*/

  .menu:after {content: "";
               display: block;
               width: 100%;
               height: 1px;
               background:#a0a0a0;
               opacity: 0.1;
               margin-top: 20px;}

  .menu li a {text-decoration: none;
              text-transform: uppercase;
              font-size: 14px;
              font-family: 'Libre Baskerville', serif;}

  .topmenu li {display: inline-block;
               position: relative;
               margin-right: 60px;}

  .topmenu li:last-child {margin-right: 0;}

  .topmenu li a {color:#a0a0a0;
                 letter-spacing: 3px;}



  .topmenu li a:after   {content:"";
	                    display: block;
	                    margin-top: 3px;
	                    transition: .6s cubic-bezier(0.165,0.84,0.44,1);
					    position: absolute;
					    left: 0%;
					    transform: scaleX(0) translate(0,0);
	                    visibility: hidden;}

  .topmenu li a:hover:after {
  	                        background: rgb(210, 168, 76);
                            height: 2px;
                            width: 100%;
                            visibility: visible;
                            transform: scaleX(1) translate(0,0);}




  .topmenu li a:hover {color:rgb(210, 168, 76);}


  .topmenu li:hover .submenu {display: block;}

  .submenu {position: absolute;
  	        display: none;
  	        width: 100%;
            top: 100%;
            left:-60px;
            z-index: 1;}

  .submenu-two {left:-45px;
                z-index: 1;}

  .submenu li  {width: 200px;
  	            padding-bottom: 1px;
                text-align: center;
                }

 .submenu li:first-child {padding-top: 12px;}            

  .submenu li a { display: block;
  	             background: #f7f7f7;
  	             padding: 20px 35px;
  	             color: #000;}

  .submenu li a:hover:after {visibility: hidden;
                            }

  .submenu li a:hover { color:#a0a0a0;}

                                                           /*menu-burger*/

                                                 
.menu-burger { position: fixed;                /*Фиксируем все меню у верхнего края экрана*/
               top:3%;
               right: 3%;
               display: none;}

.menu-burger a {color: #fff;}

.menu-burger a i {color:#6d767d;
                  font-size:22px;}

.menu__item li {display: block;
                margin-bottom: 3px;
                background: gray;
                padding:8px;}

#menu__item {position: absolute;}

#menu__item:not(:target) {
   right: -170px;
   top:0;
   transition: right 1.5s;}

#menu__item:target {
      right: -4px;
      top:0px;
      transition: right 1s;
}







                                                           /*slider*/
.carousel-item img {max-height:350px;
                    width: auto;}

.carousel-inner {z-index: 0;
                 margin-top: 50px;
                 margin-bottom: 100px;
                 border-radius: 5px;}

                                                          /*footer*/

.footer__icons {text-align: center;
                margin-bottom: 70px;}

.footer__icons i {font-size: 23px;
                  padding: 5px;
                  color: #a39f9c;}
.footer__icons a {text-decoration: none;}
.footer__icons a i:hover {color: rgb(210, 168, 76);
                        }







 
