                              /* Диапозон Medium 768px - 992px (контейнер 720px)*/

                                     @media screen and (max-width:992px) {

.header__menu li a {padding: 0.7rem;}
.header {background: #fed500;}
.header .lines .line-one {margin-left: 30%;}
.header .lines .line-two {margin-left: 34%;}
.what-i-do__head {margin-top: 1.944rem;}
.what-i-do__head .scroll {margin-top: 8px;
                          height: 80px;}
.what-i-do__head .text p{margin-top: 20px;}
.what-i-do__works {margin-top: 50px;}
.porttitor img {margin-top: 0px;}
.my-works .fa-long-arrow-up {display: none;}
.my-works__head {margin-top: 0px;}
.my-works__head .line-two {margin-bottom: 40px;}
.my-works__lines .lines .line-one {margin-left: 30%;}
.my-works__lines .lines .line-two {margin-left: 34%;}
.about-me .line-two {margin-bottom: 40px;}
.contact__title .line-one {margin-left: 170px;}
.contact__title .line-two {margin-left: 107px;
                    margin-bottom: 40px;}
.contact .form label {margin-left: 128px;}
.contact .oval {margin-top: -57px;}
.contact .lines .line-one {margin-left: 205px;}
.contact .lines .line-two {margin-left: 237px;}
.contacts .icons {margin-left: 50px;}
.contacts .address, .phone-and-email {text-align: center;}

}

                                 @media screen and (max-width:768px) {

.header .lines .line-one {margin-left: 27%;}
.header .lines .line-two {margin-left: 24%;}
.contact__title .line-one {margin-left: 76px;}
.contact .form label {margin-left: 45px;}
.contact .lines .line-one {margin-left: 119px;}
.contact .lines .line-two {margin-left: 148px;}
.contacts .icons {margin-left: 0px;}
.contacts .img {margin-left: 0px;}                            	}

                                 @media screen and (max-width:576px) {
h2 {font-size: 2.7rem;}
.line, .line-one, .line-two {display: none;}
.header__images img {margin-bottom: 68px;}
.what-i-do__head p {width: 450px;}
.my-works__head h2 {margin-bottom: 50px;}



                                 }