* {margin: 0;
   padding: 0;}

.header {background: url(../img/background.png) no-repeat;
         padding-bottom: 110px;}

.container {max-width: 1170px;
            margin: 0 auto; }

.header__head {display: flex;
               justify-content: space-between;
               flex-wrap: wrap;
               padding-top: 22px;}

.header__head:after {content: "";
                     display: block;
                     width: 100%;
                     height: 1px;
                     background: #fff;
                     opacity: 0.38;
                     position: absolute;
                     top: 111px;
                     left: 0px;}

.header__head_nav {display: flex;
                   align-items: center;}

.header__head_nav i {color: #11749e;
                    font-size: 50px;}

.header__head_nav .menu-show {display: none;}
.header__head_nav .menu-show {border:none;}
.header__head_nav .menu-show:hover {border: none;}

.header__head_nav div {margin-left: 30px;
                       border-bottom: 6px solid transparent;
                       padding: 30px 0px 30px 0px;}

.header__head_nav div:first-child {margin-left: 240px;}

.header__head_nav a {text-decoration: none;
                     color: #fff;
                     font-family: 'Myriad Pro';
                     font-size: 20px;}

.header__head_nav div:hover {border-bottom: 6px solid #11749e;
                             transition: 1s;}

.header__head_social-icons {display: flex;
                            align-items: center;}

.header__head_social-icons div {margin-right: 20px;
                                padding: 2px;
                                border: 1px solid transparent;}

.header__head_social-icons div:last-child {margin-right: 0;}

.header__head_social-icons div:hover {transform: translateY(-10%);
                                      transition: 1s;
                                      background:#11749e;
                                      padding: 2px;
                                      border-radius: 50%;
                                      border: 1px solid #11749e;; }

.header__head_social-icons a {color: #fff;
                              font-size: 20px;}

.header__title, .header__scroll {text-align: center;}

.header__title h1 {font-family: Gotham;
	               font-size: 152.6px;
	               line-height: 1.2;
	               font-weight: 700;
	               text-transform: uppercase;
	               letter-spacing: -0.05em;
	               color: #f5f5f5;
	               margin-top: 220px;
	               margin-bottom: 36px;}

.header__title p {font-family: Gotham;
	              font-size: 24.8px;
	              line-height: 51px;
	              font-weight: 500;
	              text-transform: uppercase;
	              letter-spacing: 0.74em;
	              color: #11749e;
	              padding-left: 30px;
	              margin-bottom: 118px;}

.header__scroll p {font-family: OpenSans;
	               font-size: 13px;
	               line-height: 22px;
	               font-weight: 400;
	                color: #ffffff;
	                margin-bottom: 22px;}

.header__scroll p:last-child {line-height: 22px;
                              border: 1px solid #fff;
                              border-radius: 50%;
                              width: max-content;
                              margin: 0 auto;
                              padding: 7px 12px;}

.header__scroll {color: #fff;
                 -moz-transition: 2s;}
                              											/*awesome__agency*/

.awesome__agency {background-color: #11749e;
                  padding-top: 172px;}

.awesome__agency_title {text-align: center;
                        background-image:url("data:image/svg+xml;utf8,\
                        <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='100px' width='120px'>\
                        <text x='0' y='80' fill='rgb(59,141,175)' font-size='100'>W</text>\
                        </svg>");
                        background-repeat: no-repeat;
                        background-position: center;
                        padding: 50px 0px 65px 0px;
                        background-size: 185px;
                        }
  	
.awesome__agency_title h2 {font-family: Gotham;
	                       font-size: 37.6px;
	                       line-height: 45px;
	                       font-weight: 500;
	                       text-transform: uppercase;
	                       color: #ffffff;}

.awesome__agency_content {display: flex;
                          justify-content: space-between;}

.awesome__agency_content .item {text-align: center;}

.awesome__agency_content .item p:nth-of-type(1) {padding: 35px;
				                                  border: 1px solid #2e85aa;
				                                  border-radius: 50%;
				                                  width: max-content;
				                                  margin: 0 auto;
				                                  background: #2e85aa;
				                                  margin-top: 68px;
				                                  margin-bottom: 24px;}

.awesome__agency_content .item h3 {font-family: Gotham;
	                               font-size: 18px;
	                               line-height: 36px;
	                               font-weight: 500;
	                               text-transform: uppercase;
	                               color: #ffffff;
	                               margin-bottom: 33px;}

.awesome__agency_content .item p:nth-of-type(2) {font-family: Gotham;
	                                             font-size: 15px;
	                                             line-height: 24px;
	                                             font-weight: 400;
	                                             color: #ffffff;
	                                             width: 260px;
	                                             margin-bottom: 128px;}

																	/*history*/

.history {display: flex;
          flex-wrap: wrap;
          }

.history__item {
	            width: 50%;
                height: 402px;}


.history__item img {width: 100%;
                    height: inherit;}

.history p {font-family: Gotham;
	        font-size: 15px;
	        line-height: 24px;
	        font-weight: 400;
	        color: #ffffff;
	        text-align: left;
	        width: 450px;
	        margin-top: 30px;
	        margin-left: 130px;}

.history h3 {font-family: Gotham;
	         font-size: 25px;
	         line-height: 36px;
	         font-weight: 500;
	         text-transform: uppercase;
	         color: #ffffff;
	         margin:15px 0px 43px 130px;}

.history__item:nth-of-type(1) {background: #222222;}

.history__item:nth-of-type(4) p, .history__item:nth-of-type(4) h3 {color: #222222;
                               									   margin-left:85px;}

																		/*blog*/

.blog {padding-top: 92px;}

.blog__title, .team__title, .feedback__title {text-align: center;
								               background-image:url("data:image/svg+xml;utf8,\
								               <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='100px' width='120px'>\
								               <text x='25' y='80' fill='rgba(34,34,34,0.5)' font-size='100'>B</text>\
								               </svg>");
								               background-repeat: no-repeat;
								               background-position: center;
								               padding: 50px 0px 65px 0px;
								               background-size: 185px;}

.blog__title h2,.team__title h2, .feedback__title h2 {font-family: Gotham;
														font-size: 37.6px;
														line-height: 45px;
														font-weight: 500;
														text-transform: uppercase;
														color: #222222;
													    } 

.blog__title p {font-family: Gotham;
	            font-size: 30.1px;
	            line-height: 37px;
	            font-weight: 400;
	            color: #222222;
	            margin-bottom: 76px;}

.blog__content {display: flex;
               justify-content: space-between;}

.blog__content_item {text-align: center;
                     margin-top: 76px;}

.blog__content_item h3 {font-family: Gotham;
						font-size: 18px;
						line-height: 36px;
						font-weight: 500;
						text-transform: uppercase;
						color: #11749e;
					    margin-top: 44px;
					    margin-bottom: 26px;}

.blog__content_item p {font-family: Gotham;
	                   font-size: 15px;
	                   line-height: 24px;
	                   font-weight: 400;
	                   color: #222222;
	                   width: 280px;
	                   margin-bottom: 109px;}


																	/*line-info*/

.line-info {background-color: #11749e;}

.line-info .container {display: flex;
                       justify-content: space-between;}

.line-info__item {display: flex;
                  margin: 113px 0px 113px 0px; 
                  align-items: center;}

.line-info__item_text {font-family: Gotham;
	                   font-size: 15px;
	                   line-height: 24px;
	                   font-weight: 400;
	                   color: #ffffff;
	                   max-width: 450px;}

.line-info__item_img img{width: 60px;
                         height: 60px;}

.line-info__item_img {margin-right: 34px;}

																/*akita*/
.akita {padding: 98px 0px 98px 0px;
        background: url(../img/section-akita/rectangle_6_copy_5_2161.png) no-repeat;}

.akita .container {display: flex;
                   align-items: center;
                   justify-content: space-between;}

.akita__text h3 {font-family: Gotham;
	             font-size: 25px;
	             line-height: 36px;
	             font-weight: 500;
	             text-transform: uppercase;
	             color: #ffffff;
	             margin-bottom: 41px;}

.akita__text p:nth-of-type(1) {font-family: Gotham;
					            font-size: 15px;
					            line-height: 24px;
					            font-weight: 400;
					            color: #ffffff;
					            max-width: 450px;
					            margin-bottom: 68px;}

.akita__text p:nth-of-type(2),
.akita__text p:nth-of-type(3), 
.akita__text p:nth-of-type(4) {font-family: Gotham;
                               font-size: 15px;
                               line-height: 24px;
                               font-weight: 500;
                               text-transform: uppercase;
                               color: #ffffff;
                               padding: 15px 0px 15px 15px;
                               background-color: #11749e;
                               margin-bottom: 25px;}

.akita__text p:nth-of-type(2):hover,
.akita__text p:nth-of-type(3):hover, 
.akita__text p:nth-of-type(4):hover {
									color:#11749e;
                                    transition: 2s;
                                    box-shadow: inset 500px 0 0 0 #fff;}

 												/*team*/

.team {padding:70px 0px 100px 0px;}

.team__title {
              background-image:url("data:image/svg+xml;utf8,\
              <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='100px' width='120px'>\
              <text x='25' y='80' fill='rgba(34,34,34,0.5)' font-size='100'>T</text>\
              </svg>");
             }

.team__list {display: flex;
             justify-content: space-between;
             text-align: center;}

.team__list p:first-child {font-family: Gotham;
	                       font-size: 20px;
	                       line-height: 24px;
	                       font-weight: 500;
	                       text-transform: uppercase;
	                       color: #11749e;}

.team__list p:last-child {font-family: Gotham;
	                      font-size: 15px;
	                      line-height: 24px;
	                      font-weight: 500;
	                      color: #000000;}

.team__list .text {background:#fff;
                   width: 150px;
                   margin: 0 auto;
                   margin-top: -60px;
                   position: relative;
                   z-index: 100;
                   padding: 25px;}

.team__list .img {position: relative;
                 z-index: 5;}

													/*feedback*/

.feedback {background:url(../img/section-feedback/layer_97_2249.png) no-repeat;
                          padding:144px 0px 100px 0px;}

.feedback__title h2 {font-family: Gotham;
	                 font-size: 37px;
	                 line-height: 24px;
	                 font-weight: 500;
	                 text-transform: uppercase;
	                 color: #ffffff;}

.feedback__title {
	              background-image:url("data:image/svg+xml;utf8,\
	              <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='100px' width='120px'>\
	              <text x='25' y='80' fill='rgba(255,255,255,0.4)' font-size='100'>C</text>\
	              </svg>");
	              margin-bottom: 76px;}

.feedback__form {display: flex;
				flex-wrap: wrap;
				justify-content: space-between;}

#name, #email {margin-bottom: 39px;
               margin-right: 25px;}

#message {margin-bottom: 46px;}

input {width: 350px;
       height: 25px;}

textarea {width: 100%;}

input, textarea {background:transparent;
                 color: #fff;
                 padding: 10px;
                 font-size: 15px;
                 border: solid 1px #fff;}

#sub {width: 227px;
      height: 50px;
      margin: 0 auto;
      font-family: Gotham;
      font-size: 24px;
      line-height: 24px;
      font-weight: 500;
      text-transform: uppercase;
      color: #ffffff;
      background:#11749e;
      border: 0px solid #11749e;}

      										  /*map*/

#map {background-image: linear-gradient(#20152d, #20152d), linear-gradient (#e9eafe, #d8d1ff);
      background-blend-mode: exclusion, hard-light;}

#yandex {mix-blend-mode: exclusion;}

											/*footer*/

.footer {background-color: #222222;
         padding: 50px 0px 50px 0px;}

.footer .container {display: flex;
                    justify-content: space-between;
                    align-items: center;}

.footer__info-left {font-family: Roboto;
				    font-size: 13px;
				    line-height: 36px;
				    font-weight: 400;
				    letter-spacing: 0.02em;
				    color: #ffffff;}

.footer__info-right {display: flex;
                     align-items: center;}

