@media  (max-width: 1200px) { 


    .container {width: 900px;}
	.header__head_nav div:first-child {margin-left: 75px;}
	.header__head {justify-content: center;}
	.header__head_social-icons {margin-top: 30px;}
	.header__title h1 {font-size: 100px;}
	.header__title p {font-size: 16px;}
	.awesome__agency_content .item p:nth-of-type(2) {width: 220px;}
	.awesome__agency_content .item {width: 25%;}
	.history__item {height: 370px;}
	.history__item p {font-size: 15px;
					  width: 370px;
					  margin-top: 30px;
					  margin-left: 54px;}

    .history h3 {
			    font-size: 20px;
			    margin: 15px 0px 17px 53px;}

    .history__item:nth-of-type(4) p, .history__item:nth-of-type(4) h3 {margin-left: 50px;}

    .blog__content {
				    display: flex;
				    justify-content: center;
				    flex-wrap: wrap;}

    .blog__content_item h3 {
						    font-size: 18px;
						    line-height: 0px;
						    margin-top: 20px;
						    margin-bottom: 20px;}

    .blog__content_item p {margin-bottom: 0;}

    .blog {padding-bottom: 30px;}

    .line-info__item {margin: 30px 0px 30px 0px;}

    .line-info .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;}

    .akita__text {padding-left: 30px;
                  text-align: center;}

    .team__list {
			    justify-content: space-around;
			    text-align: center;
			    flex-wrap: wrap;}

    input {
		    width: 260px;
		    height: 25px;}

}

@media  (max-width: 992px) { 

	.header__head_nav a {font-size: 16px;}
	.container {width: 700px;}
	.header__head_social-icons a {font-size: 15px;}
	.awesome__agency_content .item p:nth-of-type(2) {width: 190px;
													font-size: 13px;}

    .history__item {height: 310px;}

    .history__item p {  line-height: 20px;
					    font-size: 12px;
					    width: 320px;
					    margin-top: 10px;
					    margin-left: 50px;}

    .blog__content {justify-content: space-around;}

    .feedback__title h2 {font-size: 27px;}
   
   .feedback__form {justify-content: center;}

   input, textarea {
				    width: 80%;
				    text-align: center;
				    margin-right: 0;}

    #name, #email {margin-right: 0;}

    #tel {margin-bottom: 35px;}

    #message {margin-bottom: 27px;}

    .feedback {padding-bottom: 25px;}



}

@media (max-width: 768px) {

	.container {width: 550px;}

	.header__title h1 {font-size: 75px;}

	.header__head {align-items: center;}

	.header__head_nav a {font-size: 14px;}

    .header__head_nav div:first-child {margin-left: 0px;}

    .header__head_logo img {width: 50px;
                            margin-right: 25px;}

    

    .header__head:after {display: none;}

    .header__head_social-icons {margin-top: 0px;}

    .awesome__agency {padding: 30px 0px 30px 0px;}

    .awesome__agency_content {  
							    justify-content: center;
							    flex-wrap: wrap;}

    .awesome__agency_content .item {width: 100%;}

    .awesome__agency_content .item p:nth-of-type(2) {
												    width: 100%;
												    font-size: 15px;}

    .awesome__agency_content .item p:nth-of-type(2) {margin-bottom: 0px;}

    .awesome__agency_title h2 {font-size: 27.6px;}

   .history__item {width: 100%; 
                   height: auto;}

   .history__item p, .history__item h3 {padding: 0;
                                        margin: 0;
                                        text-align: center;
                                        margin: 0 auto;
                                        padding-top: 12px;
                                        padding-bottom: 12px;}

    .history__item:nth-of-type(4) p, .history__item:nth-of-type(4) h3 {margin-left: 0px;
     																   margin: 0 auto;}

    .history__item:nth-of-type(3) {order: 1;}

    .akita .container {
					    align-items: center;
					    justify-content: center;
					    flex-wrap: wrap;}

    .akita__text {padding-left: 0px;}

    .akita__image {text-align: center;}

    .akita__image img {width: 40%;
                      transform: rotate(-56deg);}

    .akita__image img:hover {transform:rotate(180deg);
                             transition: 2s;}

    #sub {
		    width: 227px;
		    height: 30px;
		    font-size: 20px;
		    line-height: 12px;}

    



}


@media (max-width: 576px) { 
 
    .container {width: 360px;}

	.header__head_social-icons {display: none;}

	.header__title h1 {font-size: 50px;}

    .header__title p {font-size: 12px;}

    .header__head_logo img {margin-right: 100px;}

    .header__title h1 {margin-top: 160px;
                       margin-bottom: 0px;}

    .awesome__agency_content .item {width: 90%;}

    .akita {padding: 98px 0px 0px 0px;}

    .feedback__title h2 {font-size: 15px;}

    .footer .container {
					    justify-content: center;
					    align-items: center;
					    flex-wrap: wrap;}

    .header {overflow: hidden;}

    .header__title p {margin-bottom: 40px;}

    .header__scroll p {margin-bottom: 0px;}

    .header__head {justify-content: space-around;
                   align-items:flex-start;}

    .header__head_nav {flex-wrap: wrap;
    					width: 76px;
    					justify-content: center;
    				    }

    
    .header__head_nav .menu-show {display: block;}

    .header__title h1 {margin-top: -65px;
                       transition: 2s;}

    .header__head_nav div {padding: 0;
                           margin-left: 0;
                           position: relative;
                           right: -200px;}

    .header__head_nav div a {font-size: 30px;}

    .header__head_nav div:first-child {right: 0px;}

    .header__head_nav div:nth-of-type(2) {right: -300px;
                                          transition: 0.5s;}

    .header__head_nav div:nth-of-type(3) {right: -300px;
    									 transition: 1s;}

    .header__head_nav div:nth-of-type(4) {right: -300px;
                                          transition: 1.5s;}

    .header__head_nav div:nth-of-type(5) {right: -300px;
    									 transition: 2s;}

    .header__head_nav div:nth-of-type(6) {right: -300px;
    									 transition: 2.5s;}

    .header__head_nav div:nth-of-type(7) {right: -300px;
    								     transition: 3s;}

    .header__head_nav div.show {right: 100px;}
    .header__title h1.info {margin-top: 20px;}

}