@media (max-width: 1000px) {

	.header__nav ul li {margin-left: 25px;
					    font-size: 16px;}

    .about-us__content h2, .about-us__content p, .about-us__content button {margin-left: 15px;
                                                 							margin-top: 15px;
                                                 						    font-size: 15px;}

    .about-us__content button {padding: 5px;}
    
    .our-services__title, .feedback__title, .clients__title {padding: 30px;}                                             						   

    .our-services__title h2, .feedback__title h2, .clients__title h2 {margin: 0 auto;
                                                                     font-size: 30px;}

    .our-services__title_line, .feedback__title_line, .clients__title_line {display: none;}

    .our-services__block {
						  width: 30%;
						  text-align: center;
						  padding-top: 50px;}


	.contacts__text {padding-left: 0;
	                 text-align: center;
	                 margin:0 auto;}

	.contacts__text p {
					    padding-bottom: 30px;
					    margin-right: 0px;}

    .contacts__form {margin: 0 auto;
                     margin-bottom: 30px;}

    .contacts__form input {padding: 5px;
                           margin-right: -5px;}

    .feedback__content_slider {max-width: 53%;
                           	   margin-left: 50px;}

    .feedback__content {justify-content: center;}

    .feedback__content_text p {margin-left: 0;}

    .header__slide div {width: 400px;
    					height: 180px;}

    .header__slide div h3 {padding: 30px 79px 20px 70px;
                           font-size: 30px;}


}



@media(max-width: 768px) {

	    .header__nav_burger {display: block;
	                         }

	    .header__nav_menu   {display: block;
	                         margin-right: 30px;
	                         position: fixed;
							 top: 25px;
							 right: 0px;}

	    .header__nav ul {width: 70px;
	    	             text-align: center;
						 border-radius: 8px;
	    	             background: #c60a52;
	    	             position: absolute;
						 z-index: 5;
						 right: 28px;
						 top: 0px;
	                     flex-wrap: wrap;
	                     opacity: 0%;
	                     transition: 0.5s;}             

	    #menu-show.visible {opacity: 100%;}                   /*через javascript добавить этот класс для открытия меню*/

	    .header__nav ul li {margin-left: 0px;
	    	                margin-bottom: 5px;
    						width: 100%;}

        .header__nav ul li:last-child {margin-right: 0;}

	    .header__icons {display: none;}

	    .header__block {justify-content: space-between;}

		.about-us__content h2, .about-us__content p, .about-us__content button {margin-left: 14px;
                                                 							    margin-top: 10px;
                                                 						        font-size: 11px;}
        .feedback__content_slider {max-width: 60%;
                                   margin-left: 0;}

        .feedback__content_text p {margin-left: 0;
                                   margin-top: 55px;
                                   font-size: 14px;}

        .clients__list {padding-top: 0px;}

        .clients__list_item {width: 50%;
                             margin-bottom: 50px;}

        .contacts {margin-top: 0;}

        .footer {justify-content: center;}

}

@media(max-width: 576px) {

	.feedback__content_slider {max-width: 100%;}

    .header__slide div h3 {
						    padding: 10px;
						    font-size: 20px;}
    
    .header__slide div p {width: 200px;}

    .header__slide div p:nth-of-type(1) {width: 200px;}

	.header__slide div p:nth-of-type(2) {font-size: 12px;}

	.header__slide div {
					    width: 220px;
					    height: 158px;}

	.about-us__image, .about-us__content {
									      max-width: 100%;
									      display: none;}

    .our-services__blocks {justify-content: center;}

    .our-services__block {
						  width: 100%;
						  text-align: center;
						  padding-top: 15px;}

	.our-services__block_img, .our-services__block_btn {margin-bottom: 30px;}

	.our-services__title h2, .feedback__title h2, .clients__title h2 {font-size: 24px;}

	.clients__list_item {
					    width: 100%;
					    margin-bottom: 40px;}т

    .feedback__content_slider {max-width: 100%;}

    .feedback__content {
					    padding-top: 0px;
					    padding-bottom: 20px;
					    flex-wrap: wrap;}

	.feedback__content_text p {margin-bottom: 50px;}

	.slick-slider {text-align: center;
	               text-align: -moz-center;
	               text-align: -webkit-center;}

	.contacts__form input {
						    display: block;
						    margin-bottom: 10px;
						    text-align: center;
						    text-align: -moz-center;
	              		    text-align: -webkit-center;
	              		    width: 100%;}

	#contacts-btn {
				    display: block;
				    margin: 0 auto;
				    padding: 5px 93px;}


#email {display: block;
        margin-bottom: 10px;
        padding: 5px 8px;
		text-align: center;
	    text-align: -moz-center;
	    text-align: -webkit-center;
	    width: 100%;}

#footer__social-btn {
				    display: block;
				    margin: 0 auto;
				    padding: 5px 94px;}

.header__block {margin-bottom: 60px;}

.header {padding-bottom: 60px;}

}