/* Планшеты Tablets 1024px-768px */

@media screen and (max-width: 1024px) {
	    .container {width: 90%;}
        .header__nav li:first-child { margin-left: 36px;}
        .about-me___background {width: 30%;}
        .about-me__service-and-communication {width: 65%;}
        .skills { margin-top: 350px;}
        .skills__items li {margin-left: 0px;
                            width: 171px;}
        .skills__items li span { padding-left: 5px;}
        .skills__items li:nth-of-type(2) {width: 160px;}
        .skills__items li:nth-of-type(3) {width: 133px;}
        .works__image {margin-left: 0px;}

}

/* Мобильные Mobile 768px-0px */

@media screen and (max-width: 768px) {
		.header__logo { text-align: center;
					    float: none;
					    margin-top: 0px;
					    padding-top: 59px;}
        .header__nav li:first-child {
							    margin-left: 0px;
							}
        .header__nav li {
					    margin-left: 36px;}


	    .header__nav {
					    float: none;
					    text-align: center;}
	    .header__contacts {
					    float: none;
					    margin-top: 56px;
					    text-align: center;}

		.about-me___background {width: 100%;}
        .about-me__service-and-communication {
							    width: 100%;
							    margin-top: 186px;}
							    
        .about-me__communication h3 {padding-top: 210px;}
    

        .about-me__service .item:nth-of-type(1) {margin-left: 0px;}

        .about-me__service .item {
								    float: left;
								    margin-left: 4px;
								    text-align: center;}

        .about-me__service .item:nth-of-type(2) { margin-left: 10px;}
        .logo { float: left;}
         h2 {text-align: center;}
        .skills__title {padding-top: 0px;}
        .skills__items li { margin-top: 15px;}
        .works__image {margin-top: 25px;}
    
}

