                                @media screen and (max-width:1200px) {

.content__container {width: 305px;}
.header .header__title h1:after {left:47.5%;}
.content__container h2 {margin-top: 30%;}
.content__container_top-secret h2 {margin-top: 25%;}
.skills__content_number {left: 18%;}

}



                                /* Диапозон Medium 768px - 992px (контейнер 720px)*/

                                     @media screen and (max-width:992px) {

.header .header__title h1 {font-size: 1.7rem;
                           padding-top: 55px;
                           margin-left: 0px;}

.header .header__title h1:hover:after {width: 500px;}
.header .header__title h1:after {left:49%;}
.content__container {width: 347px;}

.my-works__content .carousel-control-next {
  right: -90px;
}
.my-works__content .carousel-control-prev {
  left: -90px;
}

.contacts__form .info {margin:0 auto;
                       margin-top: 40px;}

#message {left:170px;
          }


                                     @media screen and (max-width:768px) {

.header .header__title h1 {margin-top: -35px;
                           margin-bottom:40px;} 

.content__container {width: 500px;
                    height: 289px;}

.content__container h2 {margin-top: 24%;}

.carousel-control-next-icon, 
.carousel-control-prev-icon {
    width: 40px;
    height: 38px;
    }

.my-works__header h1 {font-size: 1.5rem;
                      margin-bottom: 30px;}

.skills__content_number {left:33%;}

#message {left:80px;
          }

.contacts__form .info {margin:0 auto;
                       margin-top: 40px;}

.contacts__header p {
    width: 500px;}
}
                                     @media screen and (max-width:576px) {

.content__container {width: 360px;
                     height: 230px;
                     margin:0 auto;
                     margin-bottom: 10px;}

.my-works__content .carousel-control-next-icon,
.my-works__content .carousel-control-prev-icon {
    display:none;}

.skills__content_number {
    left: 25%;
}

.skills__header h1 {margin-top: 25px;
                    font-size: 1.8rem;}

.contacts__header p {
    display: none;}

#message {
    left: 0px;
}

.contacts__form .info {margin:0 auto;
                       margin-top: 40px;}



}
                                     @media screen and (max-width:385px){

.content__container {
    width: 330px;
    height: 220px;}


                                     }




                                       @media screen and (max-width:333px) {

.skills__content_number {
    left: 18%;
}



                                       }